[submodule "suoi_types"]
	path = suoi_types
	url = https://github.com/ValynTyler/suoi_types.git
[submodule "suoi_simp"]
	path = suoi_simp
	url = https://github.com/ValynTyler/suoi_simp.git
[submodule "suoi_rwin"]
	path = suoi_rwin
	url = https://github.com/ValynTyler/suoi_rwin.git
[submodule "suoi_phsh"]
	path = suoi_phsh
	url = https://github.com/ValynTyler/suoi_phsh.git
